.profilePage{
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-columns: 1fr 2.5fr 1fr;;
}
.profileInfo{
    position: relative;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    height: max-content;
    width: 100%;
    padding: 3%;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: rgba(186, 187, 192, 0.79);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
.profileContent{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: 100px;
}
.profileContentButton{
    border-radius: 7px;
    width: 20%;
    height: 50px;
    margin-left: 1%;
    transition: 0.5s ;
}
.profileContentButtonActive{
    background-color: rgba(51, 104, 119, 0.7);
    border-radius: 7px;
    width: 20%;
    height: 50px;
    margin-left: 1%;
}

.userPosts{

}
.userPostsItem{
    cursor: default;
    height: max-content;
    border-radius: 7px;
    background-color: rgb(215, 222, 233);
    margin-top: 2%;
    padding: 2.5%;
    box-shadow: 2px 2px 7px rgba(58, 58, 58, 0.79);
}
.userAlbums{

}
.userAlbumItem{

}
