.allComments{
    position: sticky;
    border-radius: 5px;
    padding: 15px;
    bottom: 10%;
    margin: 10px;

    width: 87%;
    /*width: max-content;*/
    min-width: 100px;

    max-height: 90rem;
    height: 90rem;
    min-height: 100px;
    background-color: rgba(97, 218, 251, 0.16);
    overflow-y: auto;
    overflow-x: hidden;

}
.allComments::-webkit-scrollbar {
    background-color: #32b4c4;
    border-radius: 3px;
    width: 8px;
    margin-right: 3px;
}
.allComments::-webkit-scrollbar-thumb{
    background-color: #263238;
    border: 0.3px solid white;
    border-radius: 3px;
}
.commentItem{
    max-width: 100%;
    /*width: 620px;*/
    height: max-content;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 3px;
    margin-top: 10px;
    background-color: rgba(47, 41, 41, 0.78);
    overflow-y: hidden;
}

.commentTextArea{
    margin-top: 0.5%;
    display: inline-flex;
    width: 100%;
    position: sticky;
    bottom: -10px;
    max-height: 300px;
}
.commentTextArea>textarea{
    resize: initial;
    word-wrap: break-word;
    word-break: break-word;
    width: 80%;
    max-width: 90%;
}
.commentTextArea>button{
    margin-left: 1%;
    border-radius: 5px;
    height: 33px;
}
.commentUserMail{
    max-width: max-content;
    padding: 3px;
    border-radius: 3px;
    /*border: 1px #61dafb solid ;*/
    transition: 0.5s;
    margin-bottom: 1%;
    background-color: rgba(97, 218, 251, 0.05);
    font-weight: bold;
}
.commentUserMail:hover{
    background-color: rgba(97, 218, 251, 0.22);
    cursor: default;
}

