.allComments{
    position: sticky;
    border-radius: 5px;
    padding: 1%;
    bottom: 10px;
    margin: 10px;

    max-width: 700px;
    /*width: max-content;*/
    min-width: 100px;

    max-height: 300px;
    height: 300px;
    min-height: 100px;
    background-color: rgba(97, 218, 251, 0.16);
    overflow-y: auto;
    overflow-x: hidden;

}
.commentItem{
    max-width: 620px;
    /*width: 620px;*/

    max-height: 200px;
    height: max-content;
    min-height: 30px;
    display: flex;
    padding: 3px;
    border-radius: 3px;
    margin-top: 10px;
    background-color: rgba(47, 41, 41, 0.78);
    overflow-y: auto;
}
.commentTextArea{
    position: sticky;
    bottom: -15px;
}
.commentTextArea>input{
    width: 80%;
    max-width: 90%;
}
.commentTextArea>button{
    margin-left: 1%;
    border-radius: 5px;
    height: 33px;
}
