.page{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}
.userList{
    background-color: cadetblue;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    display: flex;
    width: 820px;
    height: max-content;
    flex-wrap: wrap;
    align-content: flex-start;
}
.userInfo{
    cursor: default;
    z-index: 10;
    float: left;
    position: relative;
    border-radius: 3px;
    padding: 5px;
    width: 390px;
    margin-top: 20px;
    margin-left: 20px;
    background: rgba(225, 225, 234, 0.77);
    box-shadow: 2px 2px 7px rgba(58, 58, 58, 0.79);
    transition: 0.5s;
}
.userInfo:hover{
    /*font-size: 17px;*/
    /*padding: 10px;*/
    color: #003381;
    background: rgba(166, 166, 246, 0.69);
    /*transition: 0.5s;*/
}
.userInfoActive{
    font-size: 17px;
    /*padding: 10px;*/
    color: #daddec;
    background: rgba(66, 66, 190, 0.92);
    transition: 0.2s;
    cursor: default;
    z-index: 10;
    float: left;
    position: relative;
    border-radius: 3px;
    width: 390px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 2px 2px 7px rgba(58, 58, 58, 0.79);
}
.leftIndent{
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.rightIndent{
    background-color: aquamarine;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.userPostsList{
    position: fixed;
    right: 20vw;
    top: 13vh;
    display: flex;
    border: solid;
    flex-wrap: wrap;
    width: 310px;
    flex-shrink: 1;
    height: 400px;
    overflow-y: scroll;
    border-radius: 8px;
    background: aquamarine;
    z-index: 1000;
}
.userPostsList::-webkit-scrollbar-track {
    /*border: 1px solid #000;*/
    position: absolute;
    padding: 3px;
    background-color: aquamarine;
    border-radius: 3px;
}
.userPostsList::-webkit-scrollbar {
    width: 10px;
}
.userPostsList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: black;
    /*border: 1px solid #000;*/
}

.userPostsList>div{
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 300px;
    width: 300px;
    border-radius: 8px;
    background-color: rgba(106, 211, 175, 0.74);
    padding: 5px;
    margin: 5px;
    transition: 0.5s;
}
.userPostsList>div:hover{
    color: #dbe0e8;
    background: rgba(65, 65, 222, 0.82);
    transition: 0.5s;
}

@media screen and (width < 1000px) {
    .userList{
        position: relative;
        display: flex;
        width: 500px;
        height: max-content;
        flex-wrap: wrap;
        align-content: flex-start;
        top: 50vh;
    }
    .userPostsList{
        position: fixed;
        right: 22vw;
        top: 35vh;
        display: flex;
        border: solid;
        flex-wrap: wrap;
        width: 390px;
        flex-shrink: 1;
        height: 300px;
        overflow-y: scroll;
        border-radius: 8px;
        background: aquamarine;
        z-index: 1000;
    }
    .userPostsList>div{
        display: inline-flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-basis: 390px;
        width: 300px;
        border-radius: 8px;
        background-color: rgba(106, 211, 175, 0.74);
        padding: 5px;
        margin: 5px;
        transition: 0.5s;
    }
    
}
