.NavBarWindow{
    position: sticky;
    top: 15%;
    left: 10%;
    width: 30%;
    height: 300px;
    z-index: 1;
    background-color: #61dafb;
    border-radius: 9px;
    border: seagreen solid 1px;
}
.NavBarContent{

}
.NavBarBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.NavBarBody>button{
    border-radius: 5px;
    margin-top: 15px;
    max-width: 80%;
    width: 80%;
    background-color: #d2dde8;
}
